In [1]:
pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
import scipy.spatial.distance as dist

In [22]:
#data note: 
#natality subset created with the following bq query
#   SELECT * FROM publicdata:samples.natality WHERE HASH(STRING(weight_pounds)) % 200==0
#names subset created with 
#   SELECT state, gender, year, name, number as day FROM [fh-bigquery:popular_names.usa_1910_2013] WHERE HASH(name) % 20 == 0

In [93]:
natal=pd.read_csv('data/natality.csv', encoding='utf8')
names=pd.read_csv('data/names.csv', encoding='utf8')
summit=pd.read_csv('data/summit_data.csv', encoding='utf8', na_values=['null'])

In [87]:
2*(1-(scipy.stats.t.cdf(r[0], len(x+y)-2)))

0.010800465807984327

In [97]:
summit.describe()

       ue_total_done  ue_total_correct  ue_first_done  ue_last_done
count   13281.000000      13281.000000   3.228000e+03  6.892000e+03
mean        6.227844          4.992998   1.334590e+15  1.382523e+15
std        25.008316         22.718418   1.904099e+13  3.378534e+13
min         0.000000          0.000000   1.314209e+15  1.314209e+15
25%         0.000000          0.000000   1.317076e+15  1.349113e+15
50%         0.000000          0.000000   1.329951e+15  1.408644e+15
75%         6.000000          5.000000   1.349283e+15  1.409681e+15
max      1954.000000       1868.000000   1.378929e+15  1.410556e+15

In [98]:
len(summit)

13281

In [102]:
len(summit.ue_last_done.dropna())

6892

In [103]:
summit.head()

,roster_roster_email,roster_user_dot_email,ue_exercise,ue_total_done,ue_total_correct,ue_first_done,ue_last_done,ue_practiced,ue_mastered
0,ikapoor.ta@mysummitps.org,ikapoor.ta@mysummitps.org,absolute_value,1,1,NaN,1.408989e+15,True,True
1,ikapoor.ta@mysummitps.org,ikapoor.ta@mysummitps.org,adding-and-subtracting-fractions-with-like-den...,5,5,NaN,1.409075e+15,True,True
2,ikapoor.ta@mysummitps.org,ikapoor.ta@mysummitps.org,adding-and-subtracting-fractions-with-unlike-d...,14,12,NaN,1.409161e+15,True,True
3,ikapoor.ta@mysummitps.org,ikapoor.ta@mysummitps.org,adding_and_subtracting_decimals_word_problems,2,2,NaN,1.409075e+15,True,True
4,ikapoor.ta@mysummitps.org,ikapoor.ta@mysummitps.org,adding_and_subtracting_fractions,6,6,NaN,1.409161e+15,True,True

In [119]:
scipy.stats.chi2.pdf(3, 20)

1.1819159135233968e-05