In [1]:
pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
import scipy.spatial.distance as dist

In [22]:
#data note: 
#natality subset created with the following bq query
#   SELECT * FROM publicdata:samples.natality WHERE HASH(STRING(weight_pounds)) % 200==0
#names subset created with 
#   SELECT state, gender, year, name, number as day FROM [fh-bigquery:popular_names.usa_1910_2013] WHERE HASH(name) % 20 == 0

In [23]:
natal=pd.read_csv('data/natality.csv', encoding='utf8')
names=pd.read_csv('data/names.csv', encoding='utf8')

In [24]:
natal.head()

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,1969,1969,11,18,NaN,CA,False,1,10.74974,NaN,...,NaN,NaN,NaN,2,0,0,3,1,35,2
1,1970,1970,6,13,NaN,CA,True,1,10.74974,NaN,...,NaN,NaN,NaN,2,0,0,3,1,32,2
2,1970,1970,5,21,NaN,MI,True,1,10.74974,NaN,...,NaN,NaN,NaN,0,0,0,1,1,22,2
3,1970,1970,8,30,NaN,NJ,True,1,10.74974,NaN,...,NaN,NaN,NaN,3,55,55,4,1,48,2
4,1970,1970,1,23,NaN,OH,True,1,10.74974,NaN,...,NaN,NaN,NaN,1,0,0,2,1,27,2